body {
  background-color: #212121;
 font-family: 'Capriola';font-size: 22px;
}
.rounded-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  background-color: #252525;
  border-radius: 2px;
}
.rounded-bar h1 {
  user-select: none;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 0;
  color: white;
}
   .rounded-bar img {
  width: 40px;
  margin-right: 20px;
  margin-bottom: -10px;
  height: 40px;
}
.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown-button {
  border-radius: 5px;
  transform: translateY(-10%);
  background-color: #212121;
  color: white;
  padding: 12px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  font-size: 20px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #252525}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-button {background-color: #292929;}
.ui {
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  background-color: #191919;
  border: 5px solid #292929;
  text-align: left;
}

.uiheader {
  user-select: none;
  padding: 10px;
  cursor: move;
  z-index: 11;
  background-color: #292929;
  color: #fff;
}
.circle_close {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 25px;
      height: 25px;
    
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }

  .circle_minimize {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: yellow;
  }
.circle_maximize {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: lightgreen;
     
    }